### List ---> [ ] and Tuple ---->( )
- list is a collection of different data types.(same in tuple)
- list is ordered. (same in tuple)
- list is indexed. (same in tuple)
- repeative elements can be allowed in list and tuple also.
- list is <b>mutable</b> and tuple is <b>immutable</b>

In [1]:
x = [1,4.5,"hello",True,56,'hi']
print(x)

[1, 4.5, 'hello', True, 56, 'hi']

In [2]:
x = [1, 4.5, "hello", True, 56, 'hi',1,1,1,]

print(x[3])

True

In [3]:
x = [1, 4.5, "hello", True, 56, 'hi',1,1,1,]
x[3] = "welcome"
print(x)

[1, 4.5, 'hello', 'welcome', 56, 'hi', 1, 1, 1]

In [5]:
x = [1, 4.5, "hello", True, 56, 'hi']
print(x[1:5])
print(type(x))

[4.5, 'hello', True, 56]
<class 'list'>

In [11]:
x = [11,22,33,44,55,66]
x[1:5] = "hello"
# x[1:5] = [78,67,23,234,1,313,13,111]

print(x)

[11, 'h', 'e', 'l', 'l', 'o', 66]

## Nested List

In [12]:
x = [1, 2, [3, 4, 5, [6, 7, 8], 9, 10], 11, 12]
print(x[2][3][1])

7

In [14]:
x = [1, [2, 3, 4, 5, 6], 7, [8, 9, 10], 11, 12]
print(x[3][1])

9

In [18]:
x = [11,22,33,44]
# x.append(55)            # it will add element in the last of the list
# x.insert(0,55)          # it will insert element at a particular index
x.extend([45,2,12,31,12]) # it will add multiple elements in the last of the list
print(x)

[11, 22, 33, 44, 45, 2, 12, 31, 12]

In [21]:
x = [[1, [2, 3, 4, [5, 6, 7, 8], 9, 10, 11], 12]]



# x = [[1, [2, 3, 4, [5, 6, 7, 8,1000], 9, 10, 11], 12]]
# x[0][1][3].append(1000)
# print(x)
# x = [[1, [2, 3, 4,2000, [5, 6, 7, 8], 9, 10, 11], 12]]
# x[0][1].insert(3,2000)
# print(x)
# x = [[1, [2, 3, 4, [5, 6,3000, 7, 8], 9, 10, 11], 12]]
# x[0][1][3].insert(2,3000)
# print(x)

[[1, [2, 3, 4, [5, 6, 3000, 7, 8], 9, 10, 11], 12]]

In [26]:
x = [[1, [2, 3, 4, [5, 6, 7, 8], 9, 10, 11], 12]]
y = x[0]
z = y[1]
g = z[3]
x[0][1][3].insert(2,3000)
print(x)

[[1, [2, 3, 4, [5, 6, 3000, 7, 8], 9, 10, 11], 12]]

In [30]:
x = [56,1,12,2333,322,34]

print("min of x =",min(x))
print("max of x =",max(x))
print("sum of x =",sum(x))
# x.sort()
x.sort(reverse = True)
print(x)

min of x = 1
max of x = 2333
sum of x = 2758
[2333, 322, 56, 34, 12, 1]

In [31]:
# x = [1,2,3,"hello",56,"bye"]
x = ["hello","bye","hi"]

print("min of x =",min(x))
print("max of x =",max(x))
# print("sum of x =",sum(x)) 
x.sort()
# x.sort(reverse = True)
print(x)

min of x = bye
max of x = hi
['bye', 'hello', 'hi']

In [32]:
x = [1,2,3] * 3
print(x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
x = [ [] ] * 3
x[1].append(100)
print(id(x[0]))
print(id(x[1]))
print(id(x[2]))
print(x)

2161603111872
2161603111872
2161603111872
[[100], [100], [100]]

In [38]:
x = [ [], [],[]]
x[0].append(100)
print(x)

[[100], [], []]

In [45]:
x = [1,2,3]
y = [1,2,3]

print(id(x))
print(id(y))
print(x == y)
print(x is y)           # identity ope.

2161603079168
2161603133568
True
False

In [47]:
x = [4,5,True,2,23,1,5434]

print(min(x))

True

In [7]:
x = ["hello","hey","hi","bye"]

print(len(x))
print(x.count("hey"))
print(x.index("hi"))

4
1
2

In [3]:
x = [11,22,33,44,55]

if 22 in x:                     # membership ope.
    print("present")
else:
    print("not present")
    

if 45 not in x:                # membership ope.
    print("not present")
else:
    print("present")

present
not present

In [5]:
if []:
    print("this condition is true")
else:
    print("this condition is false")

this condition is false

In [9]:
x = ["hello","hey","hi","bye"]

# for i in x:
#     print(i)
    

for i in range(len(x)):
    print(i,"---",x[i])

0 --- hello
1 --- hey
2 --- hi
3 --- bye

In [17]:
x = [11,22,33,44,55,22,22,33,22]

# x.remove(22)
# del x[3]
# del x[1:4]
# z = x.pop()
# z =  x.pop(4)
x.clear()
print(x)
# print(z + 100)

[]

In [22]:
# Q1. wap to remove all occurence of 22 from given list
x = [11,22,33,44,22,22,22,55,22,22,33,22]

for i in x:
    if 22 == i:
        x.remove(22)
print(x)

[11, 33, 44, 55, 22, 33, 22]

In [23]:
x = [11,22,33,44,22,22,22,55,22,22,33,22]

while 22 in x:
    x.remove(22)

print(x)

[11, 33, 44, 55, 33]

In [26]:
# input:
x = ["hello","hi"]
y = ["sonu","monu"]

# output:-
# z = ["hello sonu","hello monu","hi sonu","hi monu"]
z = []

for i in x:
    for j in y:
        z.append(i+" "+j)
print(z)

['hello sonu', 'hello monu', 'hi sonu', 'hi monu']

## list comphresion

In [27]:
# input:
x = ["hello","hi"]
y = ["sonu","monu"]

# output:-
# z = ["hello sonu","hello monu","hi sonu","hi monu"]

z = [i+" "+j for i in x for j in y]
print(z)

['hello sonu', 'hello monu', 'hi sonu', 'hi monu']

In [29]:
# Q2
z = [i for i in range(2,51,2)]
print(z)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [30]:
# input:
x = ['m','na','i','am']
y = ["y","me",'s','an']

# output
# z = ["my","name","is","aman"]
z = []

for i in range(len(x)):
    z.append(x[i]+y[i])

print(z)

['my', 'name', 'is', 'aman']

In [35]:
# Q3 wap to create a list of unique elements from  the given list
x = [11,22,33,44,22,22,22,55,22,22,33,22]

# output:
# z = [11,22,33,44,55]
z = []
for i in x:
    if i not in z:
        z.append(i)
        
print(z)

[11, 22, 33, 44, 55]

In [36]:
# Q4
x = ["hello","12221","hey","121","abba","abc","baab"]

# output:
# z = ["12221",'abba',"baab"]
z = []

for i in x:
    if len(i) > 3 and i[0] == i[-1]:
        z.append(i)
print(z)

['12221', 'abba', 'baab']

In [38]:
# Q4 wap to multiply and sum of all elements of the given list without using inbuilt function
x = [1,2,3,4,5]

s = 0
m = 1

for i in x:
    s =  s + i
    m =  m * i

print("sum = ",s)
print("mul = ",m)

sum =  15
mul =  120

In [2]:
# Q5 wap to create a list from user input

x = [1,2,3]
y = x

print(x)
print(y)
print(id(x))
print(id(y))

[1, 2, 3]
[1, 2, 3]
2579696544064
2579696544064

In [7]:
x = [11,22,33,44,22,22,22,55,22,22,33,22]

# z = [i for i in x if i != 22]
z = []
for i in x:
    if i != 22:
        z.append(i)
print(z)

[11, 33, 44, 55, 33]

In [8]:
# Q5 wap to create a list from user input
x = int(input("enter your range = "))
z = []
for i in range(x):
    
    y = input("enter your elements = ")
    
    if y.isdigit():
        z.append(int(y))
    else:
        z.append(y)
        
print(z)

enter your range = 5
enter your elements = 67
enter your elements = hello
enter your elements = 89
enter your elements = hi
enter your elements = 90
[67, 'hello', 89, 'hi', 90]