## Tuple ---->( )
- tuple is a collection of different data types.
- tuple is ordered. 
- tuple is indexed.
- repeative elements can be allowed  tuple also.
- tuple is immutable

In [1]:
x =("hello",1,5.6,True)
print(x)

('hello', 1, 5.6, True)

In [2]:
print(x[2])

5.6

In [3]:
x[2] = 90
print(x)

TypeError: 'tuple' object does not support item assignment

In [6]:
x =(1,22,33,44,545)
print(min(x))
print(max(x))
print(sum(x))
print(len(x))
print(x.count(33))
print(x.index(545))

1
545
645
5
1
4

In [7]:
# Q1
x =(11,22,33,44)
y = list(x)
y[2] = 55
x = tuple(y)
print(x)

(11, 22, 55, 44)

In [8]:
#Q2
x = ("hello","hi")
y = ('hello',)
z = ("hello")

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

('hello', 'hi')
('hello',)
hello
<class 'tuple'>
<class 'tuple'>
<class 'str'>

In [9]:
x = (1,2,3)
y = (4,5,6)

z = x + y
print(z)

(1, 2, 3, 4, 5, 6)

In [10]:
x = 5,6
print(x)

(5, 6)

In [14]:
x,y,z, = (5,6,"hello")

print(x)

5

In [15]:
x = (1,2,3,56)
y = (4,5,6)

x,y = y,x

print(x)
print(y)

(4, 5, 6)
(1, 2, 3, 56)

In [18]:
x = [1,2,3] * 2
# u = [1,2,3] + 3
y = [1,2,3] + [1,2,3]
# z = [1,2,3] - [1,2,3]

print(x)             # [1,2,3,1,2,3]
# print(u)             # error
print(y)             # [1,2,3,1,2,3]
# print(z)             # error

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [19]:
x = [1,2,3,(4,5,6),7,8,9]
y = (1,2,3,[4,5,6],7,8,9)

print(x)
print(y)

[1, 2, 3, (4, 5, 6), 7, 8, 9]
(1, 2, 3, [4, 5, 6], 7, 8, 9)